/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    object-fit: cover;
}

body {
    background-color: whitesmoke;
}

.container{
    padding: 150px;
}

.form{
    padding: 10px;
    margin: 0 auto;
}

.button{
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: #212121;
    color: white;
}

.button:hover{
    background-color: black;
    cursor: pointer;
}

.preview{
    border: 2px solid #212121;
    height: 24rem;
    width: 100%;
}

#imgPreview{
    height: 100%;
    width: 100%;
}